<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="user_name">Username</label>
      <input
        type="text"
        id="user_name"
        [(ngModel)]="user.user_name"
        name="user_name"
        placeholder="Enter your username"
        required
      />
    </div>
    <div class="form-group">
      <label for="user_email">Email</label>
      <input
        type="email"
        id="user_email"
        [(ngModel)]="user.user_email"
        name="user_email"
        placeholder="Enter your email"
        required
      />
    </div>
    <div class="form-group">
      <label for="user_pass">Password</label>
      <input
        type="password"
        id="user_pass"
        [(ngModel)]="user.user_pass"
        name="user_pass"
        placeholder="Enter your password"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirm_pass">Confirm Password</label>
      <input
        type="password"
        id="confirm_pass"
        [(ngModel)]="confirmPassword"
        name="confirm_pass"
        placeholder="Confirm your password"
        required
      />
    </div>
    <a href="login">Log in</a>
    <div class="form-group">
      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
